body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  display: block;
  text-decoration: none;

  &:hover {
    color: #f68235;
    transition: 0.3s;
  }
}

.active-block {
  border: 2px solid #f68235;
}

.container {
  max-width: 1024px;
  padding-top: 15px;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
}

.card__info, .card__item {
  width: 50%;
}

.card__info {
  position: relative;
  padding-top: 60px;
}

@import 'common/header';
@import 'common/navigation';
@import 'common/photo';
@import 'common/card-info';
@import 'common/share';
@import 'common/product';
@import 'common/list';
@import 'common/about';
@import 'common/footer';
