.about-us
    .about-us__item
        h4.about-us__title Ценность
        p.about-us__description.
            Мы предлагаем подлинные
            качественные товары люксовых
            брендов по доступным ценам
    .about-us__item
        h4.about-us__title Доставка
        p.about-us__description.
            Вы можете примерить вещи
            в одном из наших <a href="#">бутиков</a> или
            заказать доставку по любому
            удобному адресу
    .about-us__item
        h4.about-us__title Помощь
        p.about-us__description.
            Время работы службы поддержки:
            ежедневно с 10:00 до 21:00.
            +38 044 359-08-99, +38 095 458-98-46


