.footer
    .nav-catalog
        h3.nav-title Каталог
        ul.main-nav__list.nav-catalog__list
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link женщинам
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link мужчинам
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link детям
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link косметика
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link для дома
            li.main-nav__item.nav-catalog__item
                a(href="#").main-nav__link бренды

    .nav-info
        h3.nav-title Покупателям
        ul.main-nav__list.nav-info__list
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link оплата
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link возврат
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link доставка
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link оферта
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link поддержка
    .nav-info
        h3.nav-title О нас
        ul.main-nav__list.nav-info__list
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link оплата
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link возврат
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link доставка
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link оферта
            li.main-nav__item.nav-info__item
                a(href="#").main-nav__link.nav-info__link поддержка
    .footer__content
        .logo
            a(href="#").logo__img
                img(src="/assets/img/logotype.png")
        .copyright
            p.copyright__text © 2016 ONE CLUB 2.0
            p.copyright__text All Right reserved
        .socials
            a(href="#").socials__link.socials__link--fb
            a(href="#").socials__link.socials__link--inst
            a(href="#").socials__link.socials__link--tw
            a(href="#").socials__link.socials__link--pin
        .pay
            a(href="#").pay__method
                img(src="/assets/img/visa.png" alt="visa")
            a(href="#").pay__method
                img(src="/assets/img/mastercard.png" alt="mastercard")
            a(href="#").pay__method
                img(src="/assets/img/liqpay.png" alt="liqpay")