.gallery
    .gallery__item-photo
        a(href="#").gallery__arrow.gallery__arrow--next next
        .gallery__photo
            a(href="#").gallery__photo-link.active-block
                img(src="/assets/img/photo1.jpg" alt="Фото")
            a(href="#").gallery__photo-link
                img(src="/assets/img/photo2.jpg" alt="Фото")
            a(href="#").gallery__photo-link
                img(src="/assets/img/photo3.jpg" alt="Фото")
            a(href="#").gallery__photo-link
                img(src="/assets/img/photo4.jpg" alt="Фото")
        a(href="#").gallery__arrow.gallery__arrow--prew prew
    .gallery__main-photo
        .gallery__photo-view
            img(src="/assets/img/main-photo.jpg")

