header.header
    .header__top
        .logo
            a(href="#").logo__img
                img(src="/assets/img/logotype.png")
        .header__info
            .contacts
                a(href="tell:+380443590899").contacts__tell +380 44 359-08-99
                span.contacts__adress Пн-Вс: 9:00 - 21:00
            .users
                a(href="#").users__link.users__add Войти
                a(href="#").users__link.users__basket Корзина
                    span.number 2
                input(type="text" name="text" placeholder="Поиск").search
        .list
            a(href="#").list__link.list__link--shares акции
            a(href="#").list__link.list__link--active каталог
    .header__bottom
        nav.main-nav
            ul.main-nav__list
                li.main-nav__item
                    a(href="#").main-nav__link женщинам
                li.main-nav__item
                    a(href="#").main-nav__link мужчинам
                li.main-nav__item
                    a(href="#").main-nav__link детям
                li.main-nav__item
                    a(href="#").main-nav__link косметика
                li.main-nav__item
                    a(href="#").main-nav__link для дома
                li.main-nav__item
                    a(href="#").main-nav__link бренды