.list-nav
    .wrapper
        span.list-nav__text Смотрите так же
        ul.list-nav__menu
            li.list-nav__item
                a(href="#").list-nav__preview Одежда
            li.list-nav__item
                a(href="#").list-nav__preview Трикотаж
            li.list-nav__item
                a(href="#").list-nav__preview Шелк
            li.list-nav__item
                a(href="#").list-nav__preview Все товары бренда Philipp Plein
