nav.main-nav
    ul.main-nav__list
        li.main-nav__item
            a(href="#").main-nav__link женщинам
        li.main-nav__item
            a(href="#").main-nav__link мужчинам
        li.main-nav__item
            a(href="#").main-nav__link детям
        li.main-nav__item
            a(href="#").main-nav__link косметика
        li.main-nav__item
            a(href="#").main-nav__link для дома
        li.main-nav__item
            a(href="#").main-nav__link бренды
