.navigation
    ul.navigation__list
        li.navigation__item
            a(href="#").navigation__link Главная страница
        li.navigation__item
            a(href="#").navigation__link Каталог
        li.navigation__item
            a(href="#").navigation__link Категория 1
        li.navigation__item
            a.navigation__link.navigation__link--active Costa Patch Pocket Denim Top
