.product
    h3.product__title Похожие товары
    .wrapper
        .product__item
            a(href="#").product__item-image
                img(src="/assets/img/product.jpg" alt="Футболка")
            a(href="#").product__item-name.product__item-view Tanya Taylor
            a(href="#").product__item-name Andy Striped Mini Skirt
            .product-price
                span.product-price__old 30 000 грн
                span.product-price__new 15 000 грн
        .product__item
            a(href="#").product__item-image
                img(src="/assets/img/product.jpg" alt="Футболка")
            a(href="#").product__item-name.product__item-view  Tanya Taylor
            a(href="#").product__item-name Andy Striped Mini Skirt
            .product-price
                span.product-price__old 30 000 грн
                span.product-price__new 15 000 грн
        .product__item
            a(href="#").product__item-image
                img(src="/assets/img/product.jpg" alt="Футболка")
            a(href="#").product__item-name.product__item-view  Tanya Taylor
            a(href="#").product__item-name Andy Striped Mini Skirt
            .product-price
                span.product-price__old 30 000 грн
                span.product-price__new 15 000 грн
        .product__item
            a(href="#").product__item-image
                img(src="/assets/img/product.jpg" alt="Футболка")
            a(href="#").product__item-name.product__item-view  Tanya Taylor
            a(href="#").product__item-name Andy Striped Mini Skirt
            .product-price
                span.product-price__old 30 000 грн
                span.product-price__new 15 000 грн
