.list-nav {

  .wrapper {
	padding: 52px 0;
	justify-content: center;
  }
}

.list-nav__menu {
  display: flex;
  justify-content: space-between;
  margin:0;
  padding: 0;
}

.list-nav__item {
  list-style-type: none;
  margin-left: 20px;
}

.list-nav__text {
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.list-nav__preview {
  color: #999999;
  font-size: 14px;
  text-decoration: underline;
}