.product {
  font-size: 14px;
  
  .product-price {
	font-size: 14px;
	margin-top: 15px;
  }
}

.product__title {
  font-size: 22px;
  text-align: center;
  margin: 25px 0 60px 0;
}

.product__item-name {
	color: black;
}

.product__item-view  {
  font-weight: bold;
}