extends ../_template

block variables
  - var title = 'Home page'

block content
  include ../common/_header
  main
    .card
        .container
            .wrapper
                include ../common/_card-item
                include ../common/_card-info
            include ../common/_product
            include ../common/_list
            include ../common/_about
  include ../common/_footer